USE [master]
GO
/****** Object:  Database [Chat_app]    Script Date: 8/3/2025 9:46:03 AM ******/
CREATE DATABASE [Chat_app]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chat_app', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Chat_app.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chat_app_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Chat_app_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chat_app].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chat_app]
GO
/****** Object:  Table [dbo].[group_info]    Script Date: 8/3/2025 9:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_info](
	[group_id] [bigint] NOT NULL,
	[group_name] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_group_info] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_participant]    Script Date: 8/3/2025 9:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_participant](
	[group_id] [bigint] NOT NULL,
	[user_id] [int] NOT NULL,
	[group_key] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_group_participant] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 8/3/2025 9:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [bigint] NOT NULL,
	[sender_id] [int] NOT NULL,
	[sent_at] [datetime2](7) NOT NULL,
	[text_message] [nvarchar](max) NULL,
	[client_message_id] [nvarchar](max) NULL,
 CONSTRAINT [PK_message_1] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_account]    Script Date: 8/3/2025 9:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_account](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[display_name] [nvarchar](50) NOT NULL,
	[public_key] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_user_account] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[group_info] ([group_id], [group_name], [created_at]) VALUES (1, N'Test Group', CAST(N'2025-06-14T01:05:20.0300000' AS DateTime2))
INSERT [dbo].[group_info] ([group_id], [group_name], [created_at]) VALUES (2, N'Test1 Group', CAST(N'2025-06-14T01:55:24.0333333' AS DateTime2))
INSERT [dbo].[group_info] ([group_id], [group_name], [created_at]) VALUES (3, N'Test Group', CAST(N'2025-06-14T02:22:49.9133333' AS DateTime2))
GO
INSERT [dbo].[group_participant] ([group_id], [user_id], [group_key]) VALUES (2, 1002, N'NULL')
INSERT [dbo].[group_participant] ([group_id], [user_id], [group_key]) VALUES (2, 1007, N'NULL')
INSERT [dbo].[group_participant] ([group_id], [user_id], [group_key]) VALUES (3, 1, N'NULL')
GO
SET IDENTITY_INSERT [dbo].[message] ON 

INSERT [dbo].[message] ([message_id], [group_id], [sender_id], [sent_at], [text_message], [client_message_id]) VALUES (1, 3, 1007, CAST(N'2025-06-16T23:54:28.2933333' AS DateTime2), N'HELLO', NULL)
INSERT [dbo].[message] ([message_id], [group_id], [sender_id], [sent_at], [text_message], [client_message_id]) VALUES (2, 5, 1007, CAST(N'2025-06-17T13:31:37.1100000' AS DateTime2), N'HELLO', NULL)
INSERT [dbo].[message] ([message_id], [group_id], [sender_id], [sent_at], [text_message], [client_message_id]) VALUES (3, 6, 1010, CAST(N'2025-06-17T14:18:42.4900000' AS DateTime2), N'HELLO', NULL)
SET IDENTITY_INSERT [dbo].[message] OFF
GO
SET IDENTITY_INSERT [dbo].[user_account] ON 

INSERT [dbo].[user_account] ([user_id], [user_name], [password], [display_name], [public_key]) VALUES (1, N'testuser', N'testpassword', N'Test User', N'NO_KEY')
INSERT [dbo].[user_account] ([user_id], [user_name], [password], [display_name], [public_key]) VALUES (3, N'newuser', N'newpassword', N'New User', N'NO_KEY')
INSERT [dbo].[user_account] ([user_id], [user_name], [password], [display_name], [public_key]) VALUES (4, N'anotheruser', N'anotherpassword', N'Another User', N'NO_KEY')
SET IDENTITY_INSERT [dbo].[user_account] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user_account_user_name]    Script Date: 8/3/2025 9:46:03 AM ******/
ALTER TABLE [dbo].[user_account] ADD  CONSTRAINT [IX_user_account_user_name] UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[group_info] ADD  CONSTRAINT [DF_group_info_group_name]  DEFAULT ('group name') FOR [group_name]
GO
ALTER TABLE [dbo].[group_info] ADD  CONSTRAINT [DF_group_info_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[group_participant] ADD  CONSTRAINT [DF_group_participant_group_key]  DEFAULT ('NULL') FOR [group_key]
GO
ALTER TABLE [dbo].[message] ADD  CONSTRAINT [DF_message_time_stamp]  DEFAULT (sysdatetime()) FOR [sent_at]
GO
ALTER TABLE [dbo].[message] ADD  CONSTRAINT [DF_message_client_message_id]  DEFAULT ('NO_ID') FOR [client_message_id]
GO
ALTER TABLE [dbo].[user_account] ADD  CONSTRAINT [DF_user_account_public_key]  DEFAULT ('NO_KEY') FOR [public_key]
GO
ALTER TABLE [dbo].[group_participant]  WITH NOCHECK ADD  CONSTRAINT [FK_group_participant_group_info] FOREIGN KEY([group_id])
REFERENCES [dbo].[group_info] ([group_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[group_participant] CHECK CONSTRAINT [FK_group_participant_group_info]
GO
ALTER TABLE [dbo].[group_participant]  WITH NOCHECK ADD  CONSTRAINT [FK_group_participant_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[group_participant] CHECK CONSTRAINT [FK_group_participant_user_account]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [FK_chat_history_group_info] FOREIGN KEY([group_id])
REFERENCES [dbo].[group_info] ([group_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [FK_chat_history_group_info]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [FK_chat_history_user_account] FOREIGN KEY([sender_id])
REFERENCES [dbo].[user_account] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [FK_chat_history_user_account]
GO
USE [master]
GO
